.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    box-shadow: 0px 15px 8px -9px #222;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.20);
    transform: scale(0.1);

    .scroll &{
        transform:none;
    }

    &.large{
        height:380px;

        @media screen and (max-width: 800px){
            height: 200px;
        }
    }
    
    &:first-child {
        margin-right: 7.5px;
    }
    
    &:last-child {
        margin-left: 7.5px;
    }

    @media screen and (max-width: 800px){
        height: 200px;
    }

    .background-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 1px;
    }

    &:hover {
        cursor: pointer;
        overflow: hidden;
      
        & .background-image {
          transform: scale(1.1);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
      
        & .content {
            background-color: #ffffffcc;
            transition: background-color 0.3s ease-in;
        }
    }
      
    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff99;
        position: absolute;
        border-radius: 1px;
        
        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }
        
        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}