.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    color: #fff;
    font-size: 26px;
  }

  .item-count {
    position: absolute;
    font-size: 13px;
    font-weight: bolder;
    bottom: 17px;
    color: #e91e63;
    left: 21px;
    font-family: sans-serif;
  }
}
