.collections-overview {
  display: block;
  padding: 5px 20px;

  /*@media screen and (max-width: 980px){
    padding: 5px 5px;
  }*/
}

.items {
  display: block;
  text-align: center;

  & .collection-item {
    margin-bottom: 30px;
  }
}
